// SASS COLORS

$primary-green: #55c57a;
$light-green: #7ed56f;
$dark-green: #28b485;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-dark: #777;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
// ========================================================

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// ========================================================

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

// ========================================================
.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(128, 214, 113, 0.8),
      rgba(39, 180, 133, 0.8)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  /* Always top of the image stays the same (from the top) */
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;

  &__logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
  }

  &__logo {
    height: 35px;
  }
  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

// ========================================================
.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  /* In animation don't make the element move to up */
  backface-visibility: hidden;
  margin-bottom: 60px;
  &--main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    animation-name: moveInLeft;
    animation-duration: 3s;

    /* How the animation will processeed */
    animation-timing-function: ease-in-out;
    /* animation-iteration-count: 3; */
    /* animation-delay: 3s; */
  }
  &--sub {
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 17.4px;

    animation-name: moveInRight;
    animation-duration: 3s;

    animation-timing-function: ease-in-out;
  }
}

// ========================================================

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

// ========================================================

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

// ========================================================

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// ========================================================
.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
  }
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  &:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }
  &--green {
    background-color: $primary-green;
    color: $color-white;

    &::after {
      background-color: $primary-green;
    }
  }
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

// ========================================================
.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, $light-green, $dark-green);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.u-center-text {
  text-align: center;
}

.row {
  padding: 0 12rem;
  max-width: $grid-width;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem;
  // border: 1px solid red;
}

.col-1-of-2 {
  // grid-template-columns: repeat(2, 1fr);
  // width: calc((100% - #{$gutter-horizontal}) / 2);
}

.u-margin-bottom-big {
  margin-bottom: 7.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 3.5rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.heading-tertiary {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.paragraph {
  font-size: 1.2rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $primary-green;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $primary-green;
    padding: 3px;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $primary-green;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
    border-radius: 7px;
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
  }
}

.composition {
  position: relative;
  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    // border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem; //the space between the element and the outline border

    &--p1 {
      left: 0;
      top: -2rem;
    }
    &--p2 {
      right: 0;
      top: 2rem;
    }
    &--p3 {
      left: 20%;
      top: 10rem;
    }
    &:hover {
      outline: 1rem solid $primary-green;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }
  }
  // as soon as we hover the composition element, select the photo that neasted inside of it and then
  // select the one that is not hover
  &:hover &__photo:not(:hover) {
    // composition:hover composition__photo:not(:hover)

    transform: scale(0.95);
  }
}

.cards {
  padding: 0 12rem;
  max-width: $grid-width;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.section-features {
  padding: 20rem 0;

  background-image: linear-gradient(
      to right bottom,
      rgba(128, 214, 113, 0.8),
      rgba(39, 180, 133, 0.8)
    ),
    url("../img/nat-4.jpg");
  background-size: cover;

  transform: skewY(-7deg);
  margin-top: -10rem;
  & > * {
    transform: skewY(7deg);
  }
}

.feature-box {
  background-color: rgba($color-white, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  transition: transform 0.3s;

  &__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    // background-image:
    // linear-gradient(to right, $light-green, $dark-green);
    // display: inline-block;
    // background-clip: text;
    // -webkit-background-clip: text;
    color: $primary-green;
  }
  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
  & h3 {
    font-size: 1.3rem;
    font-weight: 900;
  }
  &__text {
    text-align: justify;
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -20rem;
}
.tours {
  padding: 0 12rem;
  //   max-width: $grid-width;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
  &__side {
    height: 52rem;
    color: $color-white;
    font-size: 2rem;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // hide the back side of the element (already on 180deg)
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &--front {
      background-color: $color-white;
    }
    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $primary-green,
          $dark-green
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }
  &:hover &__side--front {
    transform: rotateY(180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }
  // FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 23rem;

    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url("../img/nat-5.jpg");
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $primary-green,
          $dark-green
        ),
        url("../img/nat-6.jpg");
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url("../img/nat-7.jpg");
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 65%;
  }

  &__heading-span {
    padding: 1.5rem 2.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }

    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($primary-green, 0.85),
        rgba($dark-green, 0.85)
      );
    }

    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.85),
        rgba($color-tertiary-dark, 0.85)
      );
    }
  }

  &__details {
    padding: 3rem;
    color: $color-grey-dark;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  &__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: $color-white;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }
}

.u-margin-top-big {
  margin-top: 7.5rem;
}

.u-margin-top-huge {
  margin-top: 10rem;
}

.section-stories {
  width: 100%;
  padding: 15rem 0;
  // background-color: $color-grey-light-1;
  position: relative;
}

.row-story {
  padding: 0 12rem;
  max-width: $grid-width;
  display: grid;
  // grid-template-columns: repeat(2, 1fr);
  gap: 8rem;
  &:not(:last-child){
    margin: 0  auto 7rem 0;
  }
}
.story {
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba( $color-white, 0.4);
  border-radius: 3px;
  padding: 6rem;
  font-size: $default-font-size;
  padding-left: 9rem;
  transform: skewX(-12deg);

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    // background-color: orange;
    // To work --> the element should be floated, has defined dimentions
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);

    transform: translateX(-3rem) skewX(12deg);
    position: relative;
  }
  &__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all 0.5s;
  }

  &__text {
    transform: skewX(12deg);
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    // brightness: +100% --> darker , -100% --> lighter
    filter: blur(3px) brightness(80%); 
  }
}

.bg-video{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
overflow: hidden;
  &__content{
    height: 100%;
    width: 100%;
    object-fit:cover ;
  }
}


.section-book{
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom,
  $light-green, $dark-green
  );
  // border: 1px solid blue;

}
.book-row{
  padding: 0 12rem;
  max-width: $grid-width;
  margin: 0 auto;
  display: grid;
  // grid-template-columns: repeat(2, 1fr);
  gap: 8rem;
  // border: 1px solid red;
}

.book{
  // border: 1px solid blue;
  background-image: linear-gradient(105deg,
  (rgba($color-white, 0.9)) 0%,
  (rgba($color-white, 0.9)) 50%,
   transparent 50%),
   url('../img/nat-10.jpg');

  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 3px;
  height: 40rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

  &__form{
    width: 50%;
    padding: 6rem;
  }
}
 